---
---

@import "{{ site.theme }}";

.link--menu {
  font-family: "Open Sans", Myriad, Calibri, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.link--post {
  font-family: "Open Sans", Myriad, Calibri, sans-serif;
  font-size: 15px;
  font-weight: 700;
}
